.section__team {
    padding: 121px 0;
    &-inner {
    text-align: center;
    }

    &-subtitle {
    font-size: 18px;
    line-height: 24px;
    color: $color-sub;
    margin-bottom: 15px;
    }

    &-title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 66px;
    color: $color-gold;
    margin-bottom: 32px;
    
    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        position: relative;
        &:before,
        &:after {
          content: "";
          position: absolute;
          width: 210px;
          height: 1px;
          background: $color-gold;
        }
        &:before {
          right: 360px;
        }
        &:after {
          left: 360px;
        }
        & img {
          display: block;
        }
        }
    }

    &-blocks {
        display: flex;
        justify-content: space-between;
    }
      
    &-block{
        width: 50%;
        padding: 70px 85px 75px 100px;
        &:nth-child(1) {
          padding: 65px 70px 65px 85px;
          border-right: 1px solid #ffcc00;
        }

        &__title {
            font-family: "Roboto", sans-serif;
            position: relative;
            font-weight: 900;
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 52px;
            text-align: center;
            &:after {
                content: "";
                width: 100px;
                height: 1px;
                background: $color-gold;
                position: absolute;
                right: 150px;
                top: 63px;
            }
        }

        &__skill {
            text-align: center;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 22px;
        }
        
        &__social-links {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
            gap: 5px;
        }
        
        &__link-icon {
            width: 30px;
            height: 30px;
            border: 2px solid #CCCCCC;
            border-radius: 50%;
            position: relative;
            cursor: pointer;
            transition: all 0.25s;

            &>svg {
                position: absolute;
                top: -2px;
                left: -2px;
                border-radius: 50%;

            &:hover {
                background-color: $color-main;
            }
            &:hover svg {
                fill: $color-main;
            }
        }   
    }

    &__text {
        margin-bottom: 20px;
        text-align:center
    }

    &__text-span {
        display: block;
        margin: 15px 0 20px 190px;
        width: 20px;
        height: 4px;
        background: $color-gold;
        margin-bottom: 25px;
        position: relative;
        &:before,
        &:after {
          content: "";
          position: absolute;
          width: 10px;
          height: 4px;
          background: $color-gold;
        }
        &:before {
          right: 25px;
        }
        &:after {
          left: 25px;
        }
      }

}
}