  @import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

h2 {
    font-family: 'Delius Unicase';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: 80px;
}

/* section 1 start  */

.section1 {
    padding: 120px 0;
}

.section1__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(3, 370px);
}

.icon-like, .icon-download {
    display: inline-block;
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.25s;
}

.icon-like:hover,
.icon-download:hover {
  background-color: rgba(224, 224, 224, 0.5);
}

.grid-item .grid-item__text {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 263px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.grid-item .grid-item__text .grid-item__date {
    color: #E0E0E0;
}

.grid-item .grid-item__buttons {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0;
}

.section1__grid .grid-item:nth-of-type(1) {
    background-image: url("assets/images/image-1.png");
    border-radius: 20px;
}

.section1__grid .grid-item:nth-of-type(2) {
    background-image: url("assets/images/image-2.png");
    grid-column: 2 / span 2;
    border-radius: 20px;
}

.section1__grid .grid-item:nth-of-type(3) {
    background-image: url("assets/images/image-3.jpg");
    grid-column: 1 / span 2;
    border-radius: 20px;
}

.section1__grid .grid-item:nth-of-type(4) {
    background-image: url("assets/images/image-4.jpg");
    border-radius: 20px;
}

.section1__grid .grid-item:nth-of-type(5) {
    background-image: url("assets/images/image-5.jpg");
    border-radius: 20px;
}

.section1__grid .grid-item:nth-of-type(6) {
    background-image: url("assets/images/image-6.jpg");
    grid-column: 2 / span 2;
    border-radius: 20px;
}

/* section 1 end  */
/* section 2 start */

.section2__grid {
    display: grid;
    gap: 30px;
    grid-template: repeat(4, 370px) / repeat(3, 370px);
}

.grid-item__text-section2 {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 663px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.section2__grid .grid-item .grid-item__text-section2 .grid-item__date {
    color: #E0E0E0;
}

.section2__grid .grid-item:nth-of-type(1) {
    background-image: url("assets/images/image-11.jpg");
    border-radius: 20px;
}

.section2__grid .grid-item:nth-of-type(2) {
    background-image: url("assets/images/image-12.jpg");
    border-radius: 20px;
    grid-column: 2 / span 2;
}

.section2__grid .grid-item:nth-of-type(3) {
    background-image: url("assets/images/image-13.jpg");
    border-radius: 20px;
    grid-column: 1 / span 2;
    grid-row: 2 / 4;
}

.section2__grid .grid-item:nth-of-type(4) {
    background-image: url("assets/images/image-14.jpg");
    border-radius: 20px;
    grid-row: 2 / 4;
}

.section2__grid .grid-item:nth-of-type(5) {
    background-image: url("/10/assets/images/image-15.jpg");
    border-radius: 20px;
    grid-column: 1 / span 2;
}

.section2__grid .grid-item:nth-of-type(6) {
    background-image: url("assets/images/image-16.jpg");
    border-radius: 20px;
}

/* section 2 end */
/* section 3 start */

.section3 {
    padding: 120px 0;
}

.section3__grid {
    display: grid;
    gap: 30px;
    grid-template: repeat(5, 370px) / repeat(3, 370px);
}

.section3__grid .grid-item:nth-of-type(1) {
    background-image: url("assets/images/image-111.jpg");
    border-radius: 20px;
}

.section3__grid .grid-item:nth-of-type(2) {
    background-image: url("assets/images/image-112.jpg");
    border-radius: 20px;
    grid-row: 1 / 3;
    grid-column: 2;
}

.section3__grid .grid-item:nth-of-type(3) {
    background-image: url("assets/images/image-113.jpg");
    border-radius: 20px;
}

.section3__grid .grid-item:nth-of-type(4) {
    background-image: url("assets/images/image-114.jpg");
    border-radius: 20px;
}

.section3__grid .grid-item:nth-of-type(5) {
    background-image: url("assets/images/image-115.jpg");
    border-radius: 20px;
    grid-row: 2 / 4;
    grid-column: 3;
}

.section3__grid .grid-item:nth-of-type(6) {
    background-image: url("assets/images/image-117.jpg");
    border-radius: 20px;
    grid-row: 3 / 5;
}

.section3__grid .grid-item:nth-of-type(7) {
    background-image: url("assets/images/image-116.jpg");
    border-radius: 20px;
}

.section3__grid .grid-item:nth-of-type(8) {
    background-image: url("assets/images/image-118.jpg");
    border-radius: 20px;
    grid-column: 2 / span 2;
}

.section3__grid .grid-item:nth-of-type(9) {
    background-image: url("assets/images/image-119.jpg");
    border-radius: 20px;
    grid-column: 1 / span 2;
}

.section3__grid .grid-item:nth-of-type(10) {
    background-image: url("assets/images/image-120.jpg");
    border-radius: 20px;
}

.grid-item__text-down {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 663px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}