.img1 {
    width: 150px;
}

.img2 {
    width: 600px;
}

.img3 {
    width: 600px;
}

.img4 {
    width: 600px;
    margin-left: 50px;
}

.img5 {
    width: 600px;
}

body {
    margin-left: 40px;
}

h1,h2 {
    margin-bottom: 30px;
}

a {
    color: blue;
}

.iframe {
    width: 1000px;
    height: 500px;
}